@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	min-height: 1000px;

}
html{
	scroll-behavior: smooth;
}
header{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	padding: 40px 100px;
	transition: 0.6s;

}
header.sticky{
	padding: 5px 100px;
	background:#fff;
	border-bottom: 1px solid(0,0,0,.1);
}
header .logo{
	position: relative;
	font-weight: 700;
	
	text-decoration:none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;

}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	margin:0 15px;
	text-decoration:none;
	/*color: #40E0D0;*/
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500;
	transition: 0.6s;

}
header.sticky .logo,
header.sticky ul li a{
	color: #000;
}
.img{
	width: 170px;
	height:50px;
}
.banner{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(bg3.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner h2{
	color: #4978ff;
	font-size: 90px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
}
.banner h2 span{
	
	color: #40E0D0;
}
.sec{
	background:#fff;
	padding: 100px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
.sec .content{
	position: relative;
	text-align: center;
	width: 100%;

}
.mxw800p{
	max-width: 800px;
	margin: 0 auto;
}
h3{
	font-size: 40px;
	font-weight: 200;
	margin-bottom: 10px;
}
p{
	position: relative;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.servicos{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}
.servicos .box{
	width: 300px;
	margin:0 auto;
	background:#fff;
	padding: 20px;
	box-shadow: 0 15px 30px rgba(0,0,0,0.50);
	border-radius: 50px;
}
.servicos .box .iconBx{
	margin-top: 25px;
}
.servicos .box .iconBx img{
	max-width: 70px;
	margin-bottom:15px;
}
.servicos .box h2{
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
}
.starts{
	background:#000;
	padding-top:250px;
	margin-top: -250px;
}
.atarts h3,
.starts p{
	color: #fff;
}
.startsBox{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 20px;
	max-width: 100%;
	margin-top: 40px;

}
.startsBox h2{
	color:#fff;
	font-size: 36px;

}
.startsBox h4{
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.workBx{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;

}
.workBx .brand{
	position: relative;
	background:#000;
	min-height: 100px;
	width: 150px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	

}

.workBx1{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;

}
.workBx1 .brand1{
	position: relative;
	min-height: 200px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	

}

.Contato{
	background: #000;
}
.Contato h3,
.Contato p{
	color: #fff;

}
.ContatoForm{
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
}
.ContatoForm form{
	width: 100;

}
.ContatoForm .row100{
	display: flex;
	width: 100%;
}
.ContatoForm .row100 .inputBx50{
width: 50%;
margin:0 20px;

}
.ContatoForm .row100 .inputBx100{
	width: 100%;
	margin: 0 20px;
}
.ContatoForm .row100 input,
.ContatoForm .row100 textarea{
	position: relative;
	border:none;
	border-bottom: 1px solid #fff;
	color: #fff;
	background: transparent;
	width: 100%;
	padding: 10px 0;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	margin: 20px 0;
	resize: none;

}
.ContatoForm .row100 textarea{
	height: 100px;
}
.ContatoForm .row100 input::placeholder,
.ContatoForm .row100 textarea::placeholder{
	color: rgba(255,255,255,0.5);
}
.ContatoForm .row100 input[type="submit"]{
	background: #fff;
	color: #000;
	max-width: 500px;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	font-weight: 500;

}
.sci{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:50px 0;

}
.sci ul{
	display: flex;
}
.sci ul li{
	list-style: none;
}
.sci ul li a{
	text-decoration:none;
	display: inline-block;
	margin:0 30px;

}
.sci ul li a img{
	filter: invert(1);
	margin-width:40px; 
} 
.sci ul li a:hover img{
	opacity: 0.5;
}
.copyright{
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 100px;
}
.toggle{
	display: none;
}
@media (max-width: 992px){
	.toggle{
		display: block;
		position: relative;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	.toggle:before{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 3px;
		background: #000;
		z-index: 1;
		box-shadow: 0 15px 0 #000;
		transition: 2s;
	}
	.toggle:after{
		content: '';
		position: absolute;
		bottom:4px;
		width: 100%;
		height: 3px;
		background: #000;
		z-index: 1;
		transition: 2s;
	}
header,
header.sticky{
	padding: 50px 50px;
	background: #fff;
}
header ul{
	position: absolute;
	top:59px;
	left: 0;
	width: 100%;
	height: 100vh;
	text-align: center;
	overflow: auto;
	background: #fff;
	visibility: hidden;
	opacity: 0;
}
header.active ul{
	visibility:visible;
	opacity: 1;
	display: block;
	padding-top:30px;
}
header.active ul li a{
	margin:5px 0;
	font-size: 40px;
}
header .logo,
header ul li a{
	color: #000;
}
.banner{
	background-position:center;
	background-size: cover;		


}
.banner h2{
	font-size: 60px;
	padding: 0 50px;
}
.sec{
	padding: 100px 50px 50px 50px;
}
.servicos .box{
	width: 100%;
}
.starts{
	padding-top:250px; 
}
.row100{
	flex-direction: column;
}
.ContatoForm .row100 .inputBx50,
.ContatoForm .row100 .inputBx100{
	width: 100%;
	margin:0;
}
.sci{
	margin:20px;
}
.sci ul li a{
	font-size: 24px;
}
.servicos{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}
}
